.dropdown-bar {
    background-color: #FF7518;
    border-radius: 15px 15px 15px 15px;
    padding: 0px 30px;
    padding-right: 0;

    .nav-dropdown {
        padding-top: 10px;
        padding-bottom: 10px;

        .dropdown-toggle {
            color: white;
            text-decoration: none;
            background-color: transparent;
            border: 0;

            &:focus {
                color: darken($pcmGreen, 3) ;
                outline:1px;
            }
        }

        .container-toast {
            position: absolute;
            top:40px;
            z-index:99;
            width: 140px;

            .toast {
                background-color: white;
                border-radius: 9px;

                .toast-header {
                    background-color: transparent;
                }

                .toast-title {
                    display:-webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-size: 0.89em;
                    font-weight: 600;
                }
            }
        }

    }

    .dropdown-menu {
        min-height: 100px;
        max-height: 400px;
        overflow-y: scroll;
        max-width: 800px;
        width: 280px;
        top: 18px !important;
        left: 0;
        border-radius: 10px;
        padding: 0;

        .dropdown-divider {
            margin: 0;
        }

        a {
            padding: 0.9em 0.9em;
            white-space: pre-wrap;
            font-size: 0.9em;

            &:hover {
                background-color: $pcmPaleBlue;
                color: white;
            }
        }
    }

    .boton-buscar {
        @include centrado;
        border-radius:0px 15px 15px 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width:1400px) {

    .dropdown-bar {
        font-size: 0.85em;
    }
}

@media (max-width:990px) {

    .dropdown-bar {
        border-radius: 15px;

        .dropdown-bar-content {

            .items-links {

                .nav-dropdown {
                    padding: 1.2em 0em;
                    display: block;
                    max-width: 300px;
                    margin: auto;

                    .dropdown-titulo  {
                        max-width: 200px;
                        display: block;
                        margin: auto;
                        text-align: start;
                    }

                    &:last-child {
                        margin: auto;
                        max-width: 300px;
                    }
                }

            }

            li {
                &:last-child {
                    max-width: 100%;
                    width: 100%;
                }
            }
        }

        .dropdown-menu {
            left: 50% !important;
            transform: translate(-50%, 20px) !important;
            a {
                font-size: 0.8em;
            }
        }

        .boton-buscar {
            width: 100%;
            border-radius: 0px 0px 15px 15px;
        }
    }
}
