nav {
    min-height: 70px;

    .navbar-content {
        max-width: 1700px;
        transition: 0.3s ease;
    }

    .navbar-brand {

        img {
            width: 330px;
            transition: 0.3s ease;
        }

        img.resize{
            width:270px
        }
    }

    .nav-item {
        font-size: 1em;

        .info-usuario-dropdown {

            .inicial-usuario {
                width:40px;
                height:40px;
                font-size: 1.1em;
            }

            .bienvenida-usuario {
                font-size: 0.9em;
                font-weight: 600;
            }

            .dropdown-item {
                font-size: 0.96em;
            }
        }
    }

    .nav-item .btn {
        font-size: 1em;
    }

    .nav-search {
        input {
            border: 1px solid #A7A7A7;
            border-right: unset;

            &:focus {
                color: #A7A7A7;
                background-color: #fff;
                border-color: #A7A7A7;
                outline: 0;
                box-shadow: unset
            }
        }

        button {
            border: 1px solid #A7A7A7;
            border-left: unset;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
        }
    }
}

