// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Bootstrap Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$naranjo:  #FF7518;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$pcmBlue: #006691;
$pcmPaleBlue: #00A8EE;
$pcmRed: #F94D4D;
$pcmGreen:#009C04;
$pcmDark: #232323;
$PcmGrayDark: #3B3B3B;
$PcmGrayLight: #676666;
